.empty-state{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45rem;
}

.empty-image{
    height: 24rem;
}

@media only screen and (max-width: 1024px) {
    .empty-image{
        height: 20rem;
    }
    .empty-state{
        height: 35rem;
    }
}

@media only screen and (max-width: 512px) {
    .empty-image{
        height: 15rem;
    }
    .empty-state{
        height: 25rem;
    }
}