.header-container{
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.header{
    display: flex;
    align-items: center;
}

.header-logo{
    font-size: 1.2rem;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 1024px){
    .header-container{
        width: 90%;
    }    
    .header-logo{
        font-size: 1rem;
    }
    .header-icon{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 512px){
    .header-container{
        width: 100%;
    }    
    .header-logo{
        font-size: 1rem;
    }
}